body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-c{
    color: orange;
}
.hw{
    width: 50%;
    padding-left: 7%;
}
.hw img{
    width: 80%%;
    height: 60%;
}
.button{
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    font-weight: bold;
}
.top-bannar{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.second-bannar{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.hw p{
    padding-right: 10%;
}
.hw1{
    width: 44%;
    margin: 0 3%;
    padding-left: 3%;
    box-shadow: 5px 5px 25px gray;
    border-left: 7px solid #F9755E;
}
.experience{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.hw1 p{
    padding-right: 5%;
}
h2{
    font-size: 35px;
}
.hw2{
    width: 44%;
    margin: 0 3%;
    padding-left: 3%;
    box-shadow: 5px 5px 25px gray;
    border-left: 7px solid #3337fa;
}
.hw2 p{
    padding-right: 5%;
}
#footer{
    text-align: center;
    color: gray;
}